*{
    background-color: blue;
}


/* element selector  */
select{
    background-color: blueviolet;
    color: bisque;
}
textarea{
    background-color:greenyellow;
}

marquee{
    color: aliceblue;
}

/* id selector */

#ip{
    background-color: black;
    color: aquamarine;
}

/* cls selector */

.leg
{
    color: rgb(241, 8, 8);
}